docstring-to-markdown==0.12
greenlet==2.0.2
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
msgpack==1.0.5
pycodestyle==2.10.0
pyflakes==3.0.1
pynvim==0.4.3
python-jsonrpc-server==0.4.0
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.1
ujson==5.7.0
wrapt==1.15.0
zipp==3.15.0
