greenlet==1.1.0
isort==5.9.2
jedi==0.17.2
lazy-object-proxy==1.6.0
mccabe==0.6.1
msgpack==1.0.2
parso==0.7.1
pluggy==0.13.1
pycodestyle==2.7.0
pyflakes==2.3.1
pynvim==0.4.3
python-jsonrpc-server==0.4.0
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.1.0
toml==0.10.2
ujson==4.0.2
wrapt==1.12.1
zipp==3.5.0
